<%= render "tasks/short_form" %>

<h1 class="text-3xl font-bold mb-6">Completed</h1>

<div class="space-y-4">

<% if @completed_tasks.present? %>
    <% @completed_tasks.each do |completed| %>
        <%= render "tasks/task_item", task: completed %>
    <% end %>
    <%== pagy_nav(@pagy) %>
<% else %>
        <p>Nothing yet.</p>
<% end %>

</div>