<h1>Help</h1>

<ul>
    <li>There is a small dash at the end of my task?</li>
</ul>

<div id="">
    <h2>There is a small dash at the end of my task?</h2>
    <p>That is a feature of the app. It is a visual cue to let you know there is more to the task than shown.</p>
</div>