@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@layer components {
  
  .base-link {
    @apply text-base font-bold text-blue-600 mb-1 hover:text-gray-900;
  }

  /* nav-bar */
  .drawer {
    display: none;
  }
  .drawer.open {
      display: block;
  }

  /* Task Radio Buttons */
  input[type="radio"]:checked + span {
    display: block;
  }

  /* Trix editor styles */
    trix-editor {
    @apply focus:outline-none focus:ring-0 focus:ring-offset-transparent text-base md:text-mpages;    
  }
  
  trix-editor h1 {
    /* font-size: 1.25rem !important;
    line-height: 1.25rem !important; */
    @apply text-3xl font-semibold pb-1 mb-4;
  }

  trix-editor timestamp {
    font-size: 0.75rem !important;
    line-height: 0.75rem !important;
    @apply leading-5 font-semibold text-gray-500 border-b border-blue-500 mb-4 block;
  }

  
  trix-editor a:not(.no-underline) {
    @apply underline;
  }
  
  trix-editor a:visited {
    color: green;
  } 
  
  trix-editor ul {
    list-style-type: disc;
    padding-left: 1rem;
  }
  
  trix-editor ol {
    list-style-type: decimal;
    padding-left: 1rem;
  }
  
  trix-editor pre {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-family: monospace;
    padding: 0.5em;
    white-space: pre;
    background-color: #eee;
    overflow-x: auto;
  }
  
  trix-editor blockquote {
    border: 0 solid #ccc;
    border-left-width: 0px;
    border-left-width: 0.3em;
    margin-left: 0.3em;
    padding-left: 0.6em;
  }

}
@import 'actiontext.css';