<nav>
  
    <a href="/">Home</a>
    
    <a href="https://github.com/kevquirk/simple.css/wiki">Docs</a>
    
    <a href="/demo" class="current">Demo</a>
    
    <a href="/news">News</a>
    
</nav>    